
html,
body {
    height: 100%
}

#code-player {
    width: 100%;
    height: 100%;
}

h4 {
    width: 250px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1em;
}

input[type=button] {
    background-color: whitesmoke;
    font-size: 18px;
    /* position: absolute; */
}

input[type=button]:hover {
    background-color: lightgray;
}

input[type=button]:not(:last-child) {
    border-right: none;
}

input[type=button]:first-child {
    border-radius: 10px 0 0 10px;
}

input[type=button]:last-child {
    border-radius: 0 10px 10px 0;
}

.selected {
    background-color: darkgrey !important;
}

.menu-bar {
    margin-left: 350px;
    padding: 0;
    width: 100%;
    display: flex;
}

.menu-wrapper {
    height: 150px;
}

.menu-header {
    display: inline-flex;
    width: 100%;
    height: 9%;
    background-color: darkkhaki;
    padding: 0.75em 0.25em 0.5em;
    position: sticky;
    top: 0px;
}

.textarea-editor {
    height: 100%;
    width: 0;
}

.editor {
    height: 100%;
    display: flex;
}

.toggleMenu{
  width: 100%; 
  height: 42px;
  position: sticky;
  /* margin: 0 auto;    */
  top: 60px;
}

#hamburger-icon{
    position: absolute;
    width: 30px;
    height: 30px;
}

.hamburger-span {
  margin: 5px auto;
  width: 30px;
}